* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.background-container {
  width: 100%;
  height: 100vh;
  background-size: cover;

  background-image: url(../svg-img/Stars.svg);
  z-index: -1;

  position: absolute;

}

/*NAVBAR*/

header {
  width: 100vw;
  
  display: flex;
  justify-content: center;
  
}

.navbar {
  display: flex;
  justify-content: center ;
  align-items: center;
  width: 80%;
  height: 100px;
  margin-top:2%;

  border-radius: 50px;

  background-color: rgba(252, 250, 250, 0.1);
  box-shadow: 0px 0px 15px #ebe188;
  
}
.logo {
  width: 30px;
  height: 30px;
}

.navbar ul {
  width: 50%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  
  list-style: none;

  position: absolute;
  
  

}

.navbar li {
  margin: 2%;
  font-size: 28px;
  font-weight: 700px;
  
  color: white;

  
}

.navbar li:hover {
  color: #b71a1a;
  transition: 1s;
  cursor: pointer;
  
}