* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100vh;
  background: url(/svg/endless-stars.svg);

}

header {
  width: 100%;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;


}

.logo {
  display: inline-block;
  margin: 0 0.5rem;

  animation: pulse ease infinite;
  animation-duration: 2s;
  animation-delay: 10s;
}



.container-main {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  
}

.container-box {
  width: 30%;
  height: 70%;
  display: flex;
  justify-content: center;
  background-color: rgb(167, 197, 35, 0.4);
  border-radius: 50px;
  animation: effect 2s cubic-bezier(.5,.01,.5,.99);
}

.container-box {
  content: "";
}

@keyframes effect {
  0%{
    width: 0px;
  }
  100%{
    width: 30%;
  }
  
}

.text-box{
  width: 90%;
  height: 95%;
  border-radius: 50px;

  animation: fadeInAnimation ease 2s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-delay: 2s;
  opacity: 0;
}

@keyframes fadeInAnimation {
  0% {
      opacity: 0;
  }
  100% {
      opacity: 1;
   }
}

.text-box h3{
  text-align: center;
}

.text-box h1 { 
  font-size: 40px;
  text-align: center;
}

.event-details {
  font-size: 22px;
  padding: 10px;
}

